# Ignore project files and built/intermediate files

# Mac stuff
.DS_Store
*.xcodeproj/

Binaries/
Intermediate/
DerivedCache/
Saved/

# User-specific files
*.suo
*.user
*.sln.docstates
*.sln
*.sdf
*.opensdf
